.vjs-poster {
    /* background: transparent !important; */
    background-color: transparent !important;
    /* background-image: inherit !important; */
}
.vjs-poster {
    outline: none;
}
.video-js {
    background-color: transparent !important;
}

video {
    display: none;
}

.vjs-has-started .vjs-poster {
    display: block;
}

.bc-iframe, .bc-iframe body {
    background-color: transparent !important;
}

.video-js .vjs-dock-text {
    background: transparent !important;
}

.video-js .vjs-dock-description, .video-js .vjs-dock-title {
    color: #333031 !important;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.video-js .vjs-dock-title {
    font-size: 28px;
    font-weight: 300;
}

.video-js .vjs-dock-description {
    font-size: 20px;
    font-weight: 400;
}

button.vjs-fullscreen-control.vjs-control.vjs-button {
    display: none;
}

.video-js .vjs-tech {
    margin-left: 25%;
    width: 300px;
    display: none;
}

.bc-player-default_default.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-control-bar, .bc-player-default_default.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-control-bar, .bc-player-default_default.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-control-bar, .bc-player-default_default.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar, .bc-player-default_default.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-control-bar {
    -webkit-transform: translateY(0em);
    -moz-transform: translateY(0em);
    -ms-transform: translateY(0em);
    -o-transform: translateY(0em);
    transform: translateY(0em);
}

.vjs-has-started.not-hover .vjs-dock-shelf, .vjs-has-started.not-hover .vjs-dock-text, .vjs-playing.vjs-user-inactive .vjs-dock-text {
    opacity: 1 !important;
}

.video-js .vjs-mute-control, .video-js .vjs-volume-menu-button {
    display: none !important;
}

.video-js .vjs-time-control {
    font-size: 18px !important;
    line-height: 60px !important;
}

.video-js .vjs-control:before {
    font-size: 32px !important;
    line-height: 1.67 !important;
}

.video-js .vjs-control-bar {
    height: 60px !important;
    display: flex;
}

.vjs-play-control.vjs-control.vjs-button{
    width: 80px !important;
}

.bc-player-default_default.not-hover.vjs-has-started.vjs-paused.vjs-user-active .vjs-progress-control, .bc-player-default_default.not-hover.vjs-has-started.vjs-paused.vjs-user-inactive .vjs-progress-control, .bc-player-default_default.not-hover.vjs-has-started.vjs-playing.vjs-user-active .vjs-progress-control, .bc-player-default_default.not-hover.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control, .bc-player-default_default.vjs-has-started.vjs-playing.vjs-user-inactive .vjs-progress-control {
    height: .5em !important;
    top: -.5em !important;
}
.vjs-mouse.bc-player-default_default .vjs-progress-control:hover {
    height: .5em !important;
    top: -.5em !important;
}

.vjs-big-play-button {
    display: none !important;
}

.vjs-time-tooltip {
    display: none !important;
}

